<div class="jumbotron">
  
  <a href="/urls">
    <h1>TinyApp</h1>
  </a>
  
  <% if (typeof user_id === "undefined") { %>
    
    <form method="GET" action="/register">
      <button type="submit" class="btn btn-xs btn-primary">
        register  
      </button>
    </form>
    <form method="GET" action="/login">
      <button type="submit" class="btn btn-xs btn-primary">
        log in
      </button>
    </form>
        
  <% } %>
    

  <% if (typeof user_id !== "undefined") { %>

    Hello, <%= email %>!
    <form method="POST" action="/logout">
      <button type="submit" class="btn btn-xs btn-danger">
        log out
      </button>
    </form>

  <% } %>
  
</div>