body {
  background-color: #FFFFFF;
}

div {
  word-wrap: break-word;
}

.tableBody {
  background-color: #DDDDDD
}

.urlKey {
  text-align: left
}

.urlLong {
  text-align: right
}

.container {
  border-radius: 2px;
}

.row {
  padding: 10px;
  border-bottom: 1px solid #BBBBBB;
}

a:link {
  color: #009388
}

/* visited link */
a:visited {
  color: #009388
}

/* mouse over link */
a:hover {
  color: #76BFB9;
  text-decoration: none
}

/* selected link */
a:active {
  color: #76BFB9;
  text-decoration: none
}

form {
  display: inline;
}

.errorText {
  color: #FF0000;
  padding-top: 5px;
}

.messageText {
  color: #000000;
  padding-top: 5px;
}

.date {
  font: 10px arial, sans-serif;
}

.jumbotron {
  padding: 50px;
}

.visitor-log {
  font: 12px arial, sans-serif
}
